@import 'tailwindcss';
@tailwind utilities;

:root {
    --navigation-height: 57px;
}

.ocean-easter-eggs a,
.ocean-easter-eggs a:visited {
    color: #2b65ec;
    font-weight: 700;
    text-decoration: none;
}

.ocean-easter-eggs a:hover {
    font-weight: 700;
    text-decoration: none;
    color: #2b65ec;
}

.FinalMains {
    margin-top: --navigation-height;
}

.essay-preview-card__title {
    writing-mode: vertical-rl;
    padding-left: 1em;
}

.swiper-pagination-bullet {
    background: white;
}

@layer components {
    .final-section-title {
        @apply text-xl font-bold text-amber-50 uppercase italic md:text-2xl lg:text-4xl;
    }
    .final-section-title.sm {
        @apply text-center text-lg font-bold text-amber-50 uppercase italic md:text-xl lg:text-2xl;
    }

    .final-essay-section {
        @apply px-2 py-5 md:px-5 md:py-10 lg:px-20 lg:py-15;
    }

    .final-essay-section .final-essay-section__article {
        @apply mt-5 border-t border-amber-50 py-4 last:border-b md:mt-10 md:py-9;
    }

    .action-btn {
        @apply mt-3 w-fit rounded-4xl border-3 border-amber-50 px-5 py-1.5 font-bold text-amber-50 uppercase hover:border-blue-900 hover:text-blue-900 lg:px-8 lg:py-3;
    }

    .action-go-to.disable {
        @apply mt-8 ml-auto flex w-fit cursor-not-allowed items-center justify-end gap-2 text-gray-400;
    }

    .action-go-to.disable svg {
        display: none;
    }
    .action-go-to.active {
        @apply mt-8 ml-auto flex w-fit items-center justify-end gap-2 hover:text-blue-800;
    }
}

@media screen and (max-width: 768px) {
    .essay-preview-card__title {
        writing-mode: inherit;
        padding-left: 0;
    }
}
