:root {
  --navigation-height: 57px;
}

.ocean-easter-eggs a,
.ocean-easter-eggs a:visited {
  color: #2b65ec;
  font-weight: 700;
  text-decoration: none;
}

.ocean-easter-eggs a:hover {
  font-weight: 700;
  text-decoration: none;
  color: #2b65ec;
}

.fMains {
  margin-top: --navigation-height;
}
