@import 'tailwindcss';

:root {
    --color-1: #30343f;
    --color-2: #fafaff;
    --color-3: #e4d9ff;
    --color-4l: #79ba3c;
    --color-4: #273469;
    --color-5: #1e2749;
    --color-6: #0d111f;
    --test-tablet: #0057e9;
    --test-laptop: #ff00bd;
    --test-pc: #87e911;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
    width: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
